@import '~bootstrap/scss/bootstrap';

li {
    list-style-type: none;

}

.jumbotron {
    height: 400px;
    background-image: url("/resources/assets/imgs/jumbotron.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-link:active {
    color: #0c7cec;
}

.comics-section {
    background-color: #1c1c1c;
    color: white;
}