@import '~bootstrap/scss/bootstrap';

li {
    list-style-type: none;

}

.jumbotron {
    height: 400px;
    background-image: url("/resources/assets/imgs/jumbotron.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}